body {
    background-image: url("../images/full-bloom-bkgrnd.png");
    font-family: Arial, Helvetica, sans-serif;
}

header {
    position: fixed;
    width: 100%;
    background: #ffffff;
    height: 80px;
    top: 0;
    border-bottom-style: solid;
    border-color: #dddddd;
    border-width: 1px;
    box-sizing: border-box;
}

.name {
    position: fixed;
    background: #4aaaa5;
    width: 375px;
    height: 80px;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    margin-top: 20px;
    text-align: center;
    left: 20%;
    top: -20px;
}

nav {
    position: fixed;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    background: #ffffff;
    right: 20%;
    top: 10px;
}

a {
    color: #777777;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
}

h3 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.wrapper {
    background: #ffffff;
    width: 960px;
    margin: 0 auto 0 auto;
    margin-top: 150px;
    padding: 20px;
    border-style: solid;
    border-color: #dddddd;
    border-width: 2px;
}

.self {
    float: left;
    width: 140px;
    height: 140px;
    padding: 20px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    font-size: 23px;
    line-height: 30px;
    margin-bottom: 10px;
    padding-left: 20px;
}

#submit {
    background: #4aaaa5;
    color: #ffffff;
    padding: 5px 10px 5px 10px;
}

#submit:hover {
    background: #777777;
    ;
}

#dog {
    border-radius: 10px;
    width: 100%;
    height: auto;
}

#dogcont {
    position: relative;
}

#dogtext {
    position: absolute;
    top: 88px;
    left: 0;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    padding-left: 34px;
    padding-right: 33px;
}

#dogtext:hover {
    background: #777777;
}

.vegas {
    position: absolute;
    top: 0px;
    left: 16%;
    border-radius: 10px;
    width: 100%;
    height: auto;  
    transform: rotate(90deg);
}

.vegastext {
    position: absolute;
    top: 88px;
    left: 16%;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    padding-left: 46px;
    padding-right: 50px;
}

.vegastext:hover {
    background: #777777;
    ;
}

#oly {
    border-radius: 10px;
    width: 100%;
    height: auto;
    transform: rotate(90deg);
}

#olytext {
    position: absolute;
    top: 232px;
    left: 0;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    padding-left: 26px;
    padding-right: 27px;
}

#olytext:hover {
    background: #777777;
    ;
}

.jrt {
    position: absolute;
    left: 16%;
    top: 144px;
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.JRTtext {
    position: absolute;
    top: 232px;
    left: 16%;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    padding-left: 26px;
    padding-right: 25px;
}

.JRTtext:hover {
    background: #777777;
}

#linac {
    position: relative;
    left: 0;
    border-radius: 10px;
    width: 100%;
    height: auto;
    transform: rotate(90deg);
}

#linactext {
    position: absolute;
    top: 376px;
    left: 0;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    padding-left: 42px;
    padding-right: 43px;
}

#linactext:hover {
    background: #777777;
}

footer {
    background: #666666;
    padding: 30px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top-style: solid;
    border-width: 8px;
    border-color: #4aaaa5;
}

.copyright {
    position: fixed;
    bottom: 5px;
    right: 50%;
    text-align: center;
    color: #ffffff;
    font-size: x-small;
}

@media screen and (max-width: 980px) {
    .wrapper {
        width: 100%;
        height: auto;
    }
    @media screen and (max-width: 768px) {

        .wrapper {
            width: 100%;
            height: auto;
            padding: 5px;
            
        }
        .name {
            position: absolute;
            top: -20px;
            left: 0px;
        }
        nav {
            position: absolute;
            width: 50%;
            top: 10px;
            right: 0px;
            padding: 10px 0px 10px 0px;
            text-align: center;
        }

        .vegas {
            left: 20%;
        }

        .vegastext {
            left: 20%;
        }

        .jrt {
            left: 20%;
        }

        .JRTtext {
            left: 20%;
        }

        @media screen and (max-width: 640px) {
            header {
                width: 100%;
                position: static;
                top: -20px;
                left: -20px;
            }
            .name {
                position: static;
                width: 100%;
                height: auto;
                padding: 10px 20px 10px 20px;
                background: #4aaaa5;
                left: -20px;
                top: 0px;
                text-align: center;
            }
            nav {
                position: static;
                width: 100%;
                top: 80px;
                left: 0;
                padding: 10px 20px 10px 20px;
                text-align: center;
            }
            .wrapper {
                width: 100%;
                height: auto;
                margin: 150px 0px 150px 0px;
            }
            .self {
                width: 95%;
                height: auto;
            }

            .vegas {
                left: 150px;
            }

            .vegastext {
                left: 150px;
            }

            .jrt {
                left: 150px;
            }

            .JRTtext {
                left: 150px;
            }